.dashboard-container {
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  
  text-align: left; 
  width: 100%;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
}