/* Global Base Styles */

/* Brand tokens */
:root {
  --brand-from: #3a71e7;
  --brand-to: #1c1681;
}

/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Button resets */
button {
  font-family: inherit;
  font-size: 100%;
}

/* Input resets */
input {
  font-family: inherit;
  font-size: 100%;
}
